<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <style>
            .desc{
                text-align: justify;
            }
            .image {
                cursor: pointer;
                width: 25px;
                height: 25px;
                margin-right: 0;
                padding-bottom: 0;
                
                }
        </style>
        <script>
            var voltar

            function voltar(){
                var voltar = true

                if (voltar) {
                    window.location.href = "http://localhost/tcc-master/tcc-master/template/projects-3.html"
                } else{
                    document.write("DEU RUIM")
                }
            }

        </script>

        <meta charset="utf-8">
        <title>Artcore - Project Detail</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic,700,900">
        <!--
        Artcore Template
		http://www.templatemo.com/preview/templatemo_423_artcore
        -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/templatemo-misc.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="row">
                    <div class="section-header col-md-12">
                        <h2><img src="../site/images/americo/back.png" onclick="voltar()" class="image">&nbsp&nbsp&nbspFormatura feminina</h2>
                        <span>turma do curso de corte e custura de 1941</span>
                    </div> <!-- /.section-header -->
                </div> <!-- /.row -->
                <div class="project-detail row">
                    <div class="project-slider col-md-12">
                        <img src="images/projects/big_project_1.jpg" alt="Slide 1">
                        <img src="images/projects/big_project_2.jpg" alt="Slide 2">
                        <img src="images/projects/big_project_3.jpg" alt="Slide 1">
                        <a href="#" class="slidesjs-previous slidesjs-navigation">&lt;</a> 
                        <a href="#" class="slidesjs-next slidesjs-navigation">&gt;</a>
                    </div> <!-- /.project-slider -->
                    <div class="project-infos col-md-12">
                        <div class="box-content">
                            <h2 class="project-title">Formatura da turma feminina do curso de corte e costura</h2>
                            <span class="project-subtitle">ano de 1941</span>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra porttitor ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor tempus commodo. Donec eu metus ut enim convallis ornare eu eu tellus. Praesent metus magna, efficitur quis neque sed, semper semper lectus. Etiam id velit sit amet ipsum faucibus sollicitudin a id nisl. Etiam facilisis nec magna eget lacinia. Curabitur aliquet sagittis diam, aliquam pellentesque mauris volutpat ac.

                                Nunc semper nisl sed velit fermentum, a lobortis purus tempor. Fusce vehicula quis est a blandit. Vivamus ultrices, arcu at tempus aliquam, nulla nulla sollicitudin erat, nec dignissim massa velit et tortor. Etiam velit augue, bibendum dapibus nunc et, tincidunt dictum diam. Suspendisse consectetur augue ac eros finibus, sit amet vulputate sem fringilla. Duis luctus diam dolor, non luctus tortor dictum ac. Curabitur tincidunt nulla dignissim tincidunt aliquet. Suspendisse pharetra lorem ex, eu pulvinar justo luctus et. Praesent auctor eros ut semper ornare. Mauris faucibus lectus et augue suscipit maximus. Sed elementum orci lectus, ut pretium augue dictum at. Suspendisse potenti. Pellentesque eget metus a sapien tempus rutrum.</p>
                            <ul class="project-meta">
                                <li><i class="fa fa-folder-open"></i>Fotogradia</li>
                                <li><i class="fa fa-calendar-o"></i>18 de Dezembro de 1941</li>
                            </ul>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.project-infos -->
                </div> <!-- /.project-detail -->
            </div> <!-- /.inner-content -->
        </div> <!-- /.content-wrapper -->

        <script src="js/vendor/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Preloader -->
        <script type="text/javascript">
            //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                $('.loader-item').fadeOut(); // will first fade out the loading animation
                    $('#pageloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({'overflow-y':'visible'});
            })
            //]]>
        </script>
        
    </body>
</html>
